main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 56px;
  margin: 0 auto; 
  width: 100%;
}
.title {
  text-align: center;
  span{
    color: var(--red);
    font: var(--subtitle);
    margin-bottom: 8px;
  }
  h2{
    font: var(--title-md);
  }

}
.projects{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 50rem;
  justify-content: center;
}
.project{
  padding: 12px;
  background-color: var(--gray-300);
  border-radius: 12px;
  border: 2px solid transparent;
  
  img{
    width: 305px;
    height: 150px;
    object-fit: cover;
    border-radius: inherit;
  }
  h3{
    font: var(--title-sm);
    color: var(--gray-600);
    margin-top: 24px;
  }
  p{
    font: var(--text-sm);
    color: var(--gray-500);
    margin-top: 8px;
  }
}
.project:hover{
  border-color: var(--gray-400);
  cursor: pointer;
}
.services{
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: center;
  
}
.service-bg{
  background-color: var(--gray-100);
  width: 100%;
  padding-block: 56px;
}
.service{
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid rgba(75, 85, 99, 0.3);
  border-radius: 16px;
  margin-top: 56px;
  img{
    width: 48px;
    height: 48px;
  };
  h2{
    font: var(--title-sm);
    color: var(--gray-600);
    margin-block: 20px 8px;
  }
  span{
    font: var(--text-sm);
    color: var(--gray-500);
  }
  
}